.DS_Store
node_modules/
dist/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports
webconfig/webconfig.js
.project
.idea/*
static/editor
static/we-ui
src/components/we-ui
src/webpack-demos
gen-pages/*
get-file/config/route.js
